* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
  font-size: 18px;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #700e98;
  color: #fff;
}

body {
  position: relative;
}

form,
input {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500;
  font-size: 18px;
  color: #111;
}

input,
button {
  padding: 0.8rem;
}

button {
  background-color: #a328d6;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: 700 !important;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
}
